#banner
  .banner_content
    %h1 File Cabinet
    %p Your Life's Work. Organized, Always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Polaroid master cleanse iPhone, 3 wolf moon hoodie blue bottle street art quinoa sartorial biodiesel kombucha drinking vinegar typewriter. Knausgaard jianbing try-hard post-ironic mixtape vegan, pour-over keytar photo booth kinfolk synth pitchfork. Craft beer enamel pin hell of, tacos locavore chicharrones brooklyn. Tacos selfies bushwick occupy, four loko pug cold-pressed shoreditch narwhal vaporware deep v. Hoodie selvage ethical beard. Bitters pop-up letterpress, offal tofu messenger bag beard vegan hell of fixie gastropub. Meditation williamsburg shoreditch cred shabby chic, gastropub plaid la croix.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
