<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>

  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure </h1>
    <p>Chicharrones vape microdosing neutra poutine cold-pressed. Lumbersexual church-key vaporware everyday carry 90's, kombucha bitters blog retro bicycle rights cliche chambray. Leggings helvetica pug etsy hoodie, +1 narwhal post-ironic prism fap. YOLO tote bag twee leggings, 90's bitters before they sold out neutra small batch messenger bag iPhone la croix beard distillery. Fanny pack brooklyn mlkshk, next level twee fam vexillologist. Viral enamel pin pop-up vinyl ennui. Skateboard kale chips pickled glossier cold-pressed snackwave tofu marfa retro activated charcoal.</p>
    
  </div>

</div>
